// fonts
$font: "PT Sans", "Tahoma", sans-serif;
$font-bold: "PT Sans Bold", "Tahoma", sans-serif;

// colors
$font-color-white: #ffffff;
$font-color-dark: #222222;
$font-color-blue: #9ac2db;
$blue: #81b3d2;
$blue-hvr: #669ec0;
$blue-down: #5496bd;
$white: #ffffff;



// breakpoints
$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
