$bg-color: #f2f2f2;

// коммент
$mobile-widths: '(max-width: 767px)';
$tablet-widths: '(max-width: 768px)';
$desktop-widths: '(max-width: 1200px)';
// коммент

$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
