.btn {
  border: 0;
}

.btn--blue {
  color: $font-white;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.238;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $bg-blue;
  //outline: 1px solid red;

  &:hover {
    background-color: $bg-blue-hvr;
  }

  &:active {
    color: $font-white-down;
    background-color: $bg-blue-down;
  }
}

.btn--repeat {
  margin-left: 25px;
  width: 16px;
  height: 20px;

  background: url("/img/icon-video-replay.svg") no-repeat;

  @media (min-width: $bp-tablet) {
    //margin-right: 40px;
    margin-left: 35px;
    order: -1;
    flex-shrink: 0
  }
}

.btn--cc {
  width: 32px;
  height: 20px;
  margin-left: auto;

  background: url("/img/icon-video-subtitles.svg") no-repeat;

  fill: red; // ???

  path {
    fill: red; // ????
  }

  @media (min-width: $bp-tablet) {
    margin-right: 30px;
    flex-shrink: 0
  }
}

.btn--fullscreen {
  width: 20px;
  height: 20px;
  margin-right: 22px;
  margin-left: 32px;

  background: url("/img/icon-video-fullscreen.svg") no-repeat;

  @media (min-width: $bp-tablet) {
    margin-right: 40px;
    margin-left: 0;
    flex-shrink: 0
  }
}

.btn--send-review {
  width: 100%;

  @media (min-width: $bp-tablet) {
    order: 7;
    width: 50%;
  }
}

.btn--success {
  margin: 0 auto;
}

.btn--failure {

}

.btn--start-search {
  display: block;
  padding: 17px;
  //margin-bottom: 50px;
}
