.btn {
  border: 0;
}

.btn--blue {
  color: $font-white;
  font-weight: bold;
  font-size: 21px;
  line-height: 1.238;
  text-transform: uppercase;
  text-decoration: none;

  background-color: $bg-blue;
  //outline: 1px solid red;

  &:hover {
    background-color: $bg-blue-hvr;
  }

  &:active {
    color: $font-white-down;
    background-color: $bg-blue-down;
  }
}

.btn--repeat {
  margin-left: 20px;
  width: 16px;
  height: 20px;

  //background: url("/img/icon-video-replay.svg") no-repeat;
  background-color: transparent;

  @media (min-width: $bp-tablet) {
    //margin-right: 40px;
    margin-left: 30px;
    order: -1;
  }
}

.btn--repeat path {
  @media (min-width: $bp-tablet) {
    fill: $bg-white;
  }
}

.btn--cc {
  width: 32px;
  height: 20px;
  margin-left: auto;

  //background: url("/img/icon-video-subtitles.svg") no-repeat;
  background-color: transparent;

  @media (min-width: $bp-tablet) {
    margin-right: 32px;
  }
}

.btn--cc path {
  @media (min-width: $bp-tablet) {
    fill: $bg-white;
  }
}

.btn--fullscreen {
  width: 20px;
  height: 20px;
  margin-right: 28px;
  margin-left: 32px;

  //background: url("/img/icon-video-fullscreen.svg") no-repeat;
  background-color: transparent;

  @media (min-width: $bp-tablet) {
    margin-right: 46px;
    margin-left: 0;
  }

  @media (min-width: $bp-desktop) {
    margin-right: 48px;
  }
}

.btn--fullscreen g {
  @media (min-width: $bp-tablet) {
    fill: $bg-white;
  }
}

.btn--send-review {
  width: 100%;

  @media (min-width: $bp-tablet) {
    order: 7;
    width: 50%;
  }
}

.btn--success {
  margin: 0 auto;
}

.btn--failure {

}

.btn--start-search {
  display: block;
  padding: 17px;
  //margin-bottom: 50px;
}
