.hotel-search {
  @include clearfix;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 50px;
  //height: 285px;
  text-align: center;

  @media (min-width: $bp-tablet) {
    //height: 320px;
    padding: 0 155px;
    padding-top: 55px;
    padding-bottom: 60px;
  }

  @media (min-width: $bp-desktop) {
    padding-left: 370px;
    padding-right: 370px;
  }

  //outline: 1px solid black;
}

.hotel-search__title {
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $bp-tablet) {
    font-size: 30px;
    line-height: 0.866;
    margin-bottom: 35px;
  }
}

.hotel-search__text {
  margin-bottom: 40px;

  @media (min-width: $bp-desktop) {
    margin-bottom: 50px;
  }
}
