.main-nav {
  position: relative;
  background: $bg-blue;

  @media (min-width: $bp-tablet) {
    background: $bg-white;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;

  box-shadow: inset 0 -3px 7px -2px rgba(0, 0, 0, 0.2);

  @media (min-width: $bp-tablet) {
    box-shadow: none;

    display: flex;
    justify-content: space-between;
  }
}

.main-nav__list--closed {
  @media (max-width: ($bp-tablet - 1)) {
    display: none;
  }
}

.main-nav__item {
  @media (min-width: $bp-tablet) {
    display: inline-block;
    vertical-align: top;

    flex-basis: 25%;

    &:nth-child(n+3) {
      float: right;
    }

    &:nth-child(2) {
      margin-right: 150px;
    }
  }

  @media (min-width: $bp-desktop) {
    &:nth-child(2) {
      margin-right: 245px;
    }
  }
}

.main-nav__item a {
  display: block;
  padding-top: 7px;
  padding-bottom: 8px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2.22;
  color: $font-white;
  text-decoration: none;
  text-align: center;

  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);

  &:hover {
    background-color: $bg-blue-hvr;
  }

  &:active {
    color: $font-white-down;
    background-color: $bg-blue-down;
  }

  @media (min-width: $bp-tablet) {
    padding: 15px 0;


    font-size: 14px;
    line-height: 26px;
    color: $font-black;
    border: none;

    &:hover {
      background-color: $bg-white;
      color: $font-blue;
    }

    &:active {
        color: $font-gray-down;
    }
  }
}

.main-nav__item--active a {
  @media (min-width: $bp-tablet) {
    color: $font-brown;

    &:hover {
      color: $font-brown-hvr;
    }

    &:active {
      color: $font-brown-down;
    }
  }
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  width: 23px;
  height: 23px;
  height: 23px;

  background: none;
  border: none;

  @media (min-width: $bp-tablet) {
    display: none;
  }
}

.main-nav__toggle--closed {
  &:before {
    //content: '\2715';
    content: "";
    background: url("/img/icon-menu.svg") top left no-repeat;
    background-size: 23px 23px;

  }
  // Меняем иконку
  .main-nav__list--closed + &:before {
    //content: '\2261';
    content: "";
    background: url("/img/icon-cross.svg") top left no-repeat;
    background-size: 23px 23px;
  }

}
