.map {
  //height: 350px;

  //outline: 1px solid black;
}

.map img {
  display: block;
  width: 320px;
  height: 350px;

  @media (min-width: $bp-tablet) {
    width: 768px;
  }

  @media (min-width: $bp-desktop) {
    width: 1200px;
  }
}
