/*.page-footer {
  @include clearfix;
  outline: 1px solid black;

  @media (min-width: $bp-tablet) {
    padding-left: 60px;
    padding-right: 60px;
  }

  @media (min-width: $bp-desktop) {
    padding-left: 0;
    padding-right: 0;
  }

}

.page-footer__out-link,
.page-footer__social,
.page-footer__copyright {
  margin: 0 auto;
  padding-top: 20px;
}

.page-footer__out-link {
  width: 100px;

  @media (min-width: $bp-tablet){
    float: left;
    width: 196px;
  }

  @media (min-width: $bp-desktop) {
    width: 400px;
    text-align: center;
  }
}

.page-footer__social {
  width: 200px;

  @media (min-width: $bp-tablet) {
    float: left;
    width: 256px;
  }

  @media (min-width: $bp-desktop) {
    width: 400px;
    text-align: center;
  }
}

.page-footer__copyright {
  width: 240px;
  margin-bottom: 20px;

  @media (min-width: $bp-tablet) {
    float: right;
    width: 196px;
  }

  @media (min-width: $bp-desktop) {
    width: 300px;
    padding-right: 45px;
    text-align: right;

  }
}*/

// ====================================


.page-footer {
  //@include clearfix;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 20px;

  @media (min-width: $bp-tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 35px;
  }

  @media (min-width: $bp-desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-footer__out-link {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.238;
  margin-bottom: 40px;

  a {
    text-decoration: none;
    color: $font-black;
  }

  @media (min-width: $bp-tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $bp-desktop) {
    padding-left: 130px;
  }
}

.page-footer__social {
  display: flex;
  margin-bottom: 30px;

  @media (min-width: $bp-tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $bp-desktop) {
    padding-right: 95px;
  }
}

.page-footer__copyright {
  display: flex;
  align-items: center;

  @media (min-width: $bp-tablet) {

  }

  @media (min-width: $bp-desktop) {
    padding-right: 45px;
  }
}

.page-footer__copyright a {
  &:hover {
    fill: $bg-blue;
  }
}

.page-footer__copyright svg {
  width: 27px;
  height: 34px;
  margin-left: 10px;
}



