.page-header {
  //background: url(/img/bg-back-mobile.jpg) no-repeat;

  outline: 1px solid green;

}

.page-header__logo-wrapper {
  //position: relative;
  height: 60px;



  @media (min-width: $bp-tablet) {
    height: 0px;

  }
}


  .page-header__logo {
    //position: absolute;
    //left: 0;
    //right: 0;
    margin: 0 auto;
    //display: block;
    width: 102px;
    height: 83px;

    outline: 1px solid red;

  }
