.social-links {
  display: flex;
}

.social-links__item {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 7px;
  width: 48px;
  height: 48px;

  font-size: 0;
  background-color: $bg-blue;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: $bg-blue-hvr;
  }

  &:active {
    background-color: $bg-blue-down;
  }
}

.social-links__icon {
  fill: $bg-white;

  &:active {
    opacity: 0.3;
  }
}
